#navbar1{
    background-color: #381149;
}

#navbar1 .nav-link{
    color: #FFD700;
    text-transform: uppercase;
}

#navbar1 .nav-link:hover{
    border-left: 2px solid #FFD700;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}